.page-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 98;
    position: fixed;
    top: 0px;
    background-color: rgba($color: #000000, $alpha: 0.5);
}