@import '../../../../Resources/variables.scss';

.page-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  .page-error__container{
    background-color: $white;
    width: 100%;
    padding: 100px;
    list-style-type: none;
  }
  .page-error__message{
    font-size: 28px;
  }
}