$color_1: #666666;
$color_2: #333333;
$color_3: #999999;
$font_family_1: FontAwesome;
$background_color_1: white;

@import "../../../../Resources/mixins";

ul.result-list {
  background-color: $background_color_1;
  width: 100%;
  padding: 0px;
  list-style-type: none;
}
.list-thumb {
  img {
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }
  padding: 16px 16px 16px 0px;
  @include media_breakpoint(502) {
    display: flex;
    justify-content: center;
  }
}
.result-list {
  li {
    clear: both;
    display: -webkit-box;
    padding: 0 16px;
  }
}
.text-center {
  text-align: center;
}
.product-row {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-direction: row;
  @include media_breakpoint(502) {
    flex-direction: column;
  }
}
.list-detail {
  width: 75%;
  padding: 50px 0px;
  @include media_breakpoint(502) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .price {
    font-size: 24px;
    margin-bottom: 16px;
    display: table;
    float: left;
  }

  .location {
    display: flex;
    margin-left: 0;
    justify-content: flex-end;
  }
}

.name {
  p {
    a {
      font-size: 18px;
      color: $color_2;
    }
    max-width: 365px;
  }
}
.price-location {
  display: table;
  clear: both;
  width: 100%;
}
img.free-shipping-ic {
  padding: 7px;
}
ol.categoriesList {
  list-style: none;
  padding: 12px 0px;
  margin: 0px;
  display: flex;
}
.categoriesList {
  li {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 2px;
    line-height: 1.45;
    color: $color_3;
    &:not(:first-child) {
      &::before {
        content: "\F054";
        font-family: $font_family_1;
        display: inline-block;
        width: 10px;
        margin: 0px 3px 0px 8px;
        font-size: 10px;
        font-weight: lighter;
      }
    }
  }
}
