@import '../../../../Resources/variables.scss';

.navbar {
	background-color: $yellow;
	width: 100%;
	max-height: 110px;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 5px;

	.form-inline {
		flex-grow: 1;
		display: flex;
	}

	.input-group.meli-input-cont {
		width: 100%;
		max-width: 1050px;
		padding: 0px 15px;
		margin: auto;
		margin-top: 5px;
		display: inherit;
	}
}

.navbar-text {
	color: $black;
}
.navbar {
	background-color: $yellow;
	width: 100%;
	max-height: 110px;
	text-align: center;
	margin-bottom: 0px;
}

.container {
	width: 100%;
	max-width: 1050px;
	padding: 0px 15px;
	margin: 0 auto;
}
.meli-logo {
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}

.meli-search, .input-group .form-control:not(:first-child):not(:last-child) {
    width: 100%;
    max-width: 905px;
    height: 40px;
    padding: 10px 12px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.meli-input-cont {
	span.input-group-addon {
		width: 45px;
		height: 40px;
		float: left;
		padding: 10px 12px;
		cursor: pointer;
		border: none;
	}
}
