@import "../../../../Resources/variables.scss";

.list__result {
  background-color: $white;
  width: 100%;
  padding: 0px;
  list-style-type: none;
}

.product {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-direction: row; 
  
  .product__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .product__image {
      width: 180px;
      height: 180px;
      overflow: hidden;
    }
    padding: 16px;
  }
  .product__detail {
    width: 75%;
    padding: 50px 0px;

    .product__detail-price {
      font-size: 24px;
      margin-bottom: 16px;
      float: left;
    }
  
    .product__detail-location {
      display: flex;
      margin-left: 0;
      justify-content: flex-end;
    }

    .product__free-shipping-ic {
      padding: 7px;
    }

    .product__title {
      max-width: 365px;

      .product__link {
        font-size: 18px;
        color: $darkGray;
      }
    }
  }
}

@media (max-width: 502px) {
  .product {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .product__thumb {
    .product__image {
      width: 180px;
      height: auto;
    }
  }
}