@import '../../../../Resources/variables.scss';

.bread-crumbs {
	list-style: none;
	padding: 12px 0px;
	margin: 0px;
	width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    .bread-crumbs__item {
		display: inline;
		font-size: 14px;
		font-weight: 400;
		margin: 0 0 2px;
		line-height: 1.45;
		color: $lightGray;
		&:not(:first-child) {
			&::before {
				content: "\F054";
				font-family: $font_family_1;
				display: inline-block;
				width: 10px;
				margin: 0px 3px 0px 8px;
				font-size: 10px;
				font-weight: lighter;
			}
		}
	}
}