$color_1: #ffffff;
$color_2: #333333;
$color_3: #999999;
$background_color_1: #3483fa;

@import "../../../../Resources/mixins";

.ProductDetails__hero {
  width: 100%;
  padding: 10rem 0;
  background: url(/static/media/header-banner.b35c0c10.jpg), #1b1b25;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center;
  color: $color_1;
  display: flex;
  justify-content: center;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000073;
  }
}
.ProductDetails__hero-product-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ProductDetails__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.product-cont {
  background: #fff;
  padding: 30px 25px 25px 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .row {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    @include media_breakpoint(625) {
      flex-direction: column;
    }
  }
}

.photo {
  img {
    margin: 0 auto;
    max-width: 100%;
    @include media_breakpoint(625) {
      max-width: 70%;
    }
  }
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 680px;
  width: 100%;
}
.product-description {
  display: block;
  width: 100%;
  clear: both;
  padding-top: 20px;
  color: $color_2;
  h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  p {
    margin: 0;
    font-size: 16px;
    max-width: 680px;
    color: $color_3;
    text-align: justify;
  }
}
.product-info {
  float: left;
  padding: 0 0 0 25px;
  @include media_breakpoint(625) {
    padding: 30px 0;
  }
}
p.state-sold {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 0px;
}
p.product-title {
  font-size: 24px;
  max-width: 250px;
  @include media_breakpoint(625) {
    max-width: 100%;
  }
}
p.product-price {
  font-size: 46px;
  margin-bottom: 15px;
  color: $color_2;
}
button.btn-primary {
  padding: 10px 100px;
  border: none;
  background-color: $background_color_1;
  border-radius: 4px;
  @include media_breakpoint(625) {
    width: 100%;
  }
}
img.free-shipping-ic {
  padding: 5px !important;
}
